
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<form method="post">
    <input type="text"  placeholder="UName" name="UName" class="form-control" />
    <input type="text" placeholder="Password" name="Password" class="form-control"/>
    <input type="Submit" value="Create" class="btn btn-success">
    </form>