
@{
    ViewBag.Title = "List";
}

<h2>List</h2>



<a href="/channel/create">Create</a>
<table class="table table-bordered">
    <tr>
        <th>ChannelId</th>
        <th>ChannelName</th>
        <th>EstablishedYear</th>
        <th>Country</th>
        
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ChannelId</td>
            <td>@d.ChannelName</td>
            <td>@d.EstablishedYear</td>
            <td>@d.Country</td>
            
            <td>
                <a href="/channel/details/@d.ChannelId" class="btn btn-info">Details</a>
                <a href="/channel/edit/@d.ChannelId" class="btn btn-warning">Edit</a>
                <a href="/channel/delete/@d.ChannelId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>